<div class="global">
  <div class="verticMain">
    <div class="horizMain">
      <div class="container">
        <h3>ABOUT</h3>
        <a href="" class = 'footerlink'>Design</a>
        <a href="" class = 'footerlink'>Wood</a>
        <a href="" class = 'footerlink'>Made</a>
        <a href="" class = 'footerlink'>Footprint</a>
        <a href="" class = 'footerlink'>Our Story</a>
        <a href="" class = 'footerlink'>We plant trees</a>
      </div>
      <div class="container">
        <h3>HELP</h3>
        <a href="" class = 'footerlink'>FAQ</a>
        <a href="" class = 'footerlink'>Warranty</a>
        <a href="" class = 'footerlink'>Shipments</a>
        <a href="" class = 'footerlink'>Returns</a>
        <a href="" class = 'footerlink'>Press</a>
        <a href="" class = 'footerlink'>Contact us</a>
      </div>
      <div class="container">
        <h3>MORE</h3>
        <a href="" class = 'footerlink'>Woodendot Family</a>
        <a href="" class = 'footerlink'>Bring a Friend, get 80€</a>
        <a href="" class = 'footerlink'>Video Lifestyle</a>
        <a href="" class = 'footerlink'>Affiliates</a>
      </div>
      <div class="container">
        <p>Don’t miss any news and exclusive offers!</p>
        <button id = 'Subscribe'>Newsletter subscription</button>
        <div class = "forPic">
          <p><img href ="" src="././assets/1.png" alt="" class = 'imglink'></p>
          <p><img href ="" src="././assets/2.png" alt="" class = 'imglink'></p>
          <p><img href ="" src="././assets/3.png" alt="" class = 'imglink'></p>
          <p><img href ="" src="././assets/4.png" alt="" class = 'imglink'></p>
        </div>
      </div>
    </div>
    <div class="horizMain">
      <p>© Copyright – WOODENDOT 2020</p>
      <div class="forPic2">
        <p><img href ="" src="././assets/5.png" alt="" class = 'img2'></p>
        <p><img href ="" src="././assets/6.png" alt="" class = 'img2'></p>
        <p><img href ="" src="././assets/7.png" alt="" class = 'img2'></p>
        <p><img href ="" src="././assets/8.png" alt="" class = 'img2'></p>
      </div>
      <p>Terms & Conditions  |  Privacy Policy & Cookies</p>
    </div>
  </div>
</div>
