<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="stars starrr" data-rating="0"></div>
      <div class="row">
        <div class="col-md-2">
          <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
          <p class="text-secondary text-center">15 Minutes Ago</p>
        </div>
        <div class="col-md-10">
          <ul ng *ngIf="loaded">
            <li *ngFor="let review of review ">
          <p>
            <a class="float-left" href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>Maniruzzaman Akash</strong></a>
            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
            <span class="float-right"><i class="text-warning fa fa-star"></i></span>

          </p>
          <div class="clearfix"></div>
          <p>{{review.text}}</p>
            </li>
          </ul>
          <div>
            <a (click)="dislikeButtonClick()" class="float-right btn text-white btn-danger"> <i class="fa fa-heart"></i> Dislike</a>
            <a (click)="likeButtonClick()" class="float-right btn text-white btn-danger"> <i class="fa fa-heart"></i> Like</a>
            <p class="likeDis">Likes: {{numberLike}} _ Dislikes: {{numberDislike}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
